In [1]:
# Q1. Using Python script as a calculator
# Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then evaluate the following expression in the Python console.
# ùê¥ = ùëù (1 + ùëü/ 100)n
# Assign values to variables
n = 10
r = 5
p = 100

# Evaluate the expression A = p * (1 + r/100)^n
A = p * (1 + r/100)**n

# Print the result
print(f"The value of A is: {A}")

The value of A is: 162.8894626777442

In [2]:
# Q2. In a given string format operation, how will you print the given string.
# A = 10
# B = 20
# Str = "There are {} students in the class, with {} who play at least one sport."
a = 10
b = 20
print(f"There are {10} students in the class, with {20} who play at least one sport.")
# Ans - D. None of the above

There are 10 students in the class, with 20 who play at least one sport.

In [3]:
# Q3. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
# Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
print("It goes without saying, \"Time is Money\", and none can deny it.")
# Ans - A. "It goes without saying, \"Time is Money\", and none can deny it."

It goes without saying, "Time is Money", and none can deny it.

In [4]:
# Q4. What will be the output of the following code?
# x = lambda a,b: a//b
# x(10,3)
x = lambda a,b: a//b
x(10,3)

# Ans. - B. 3

3

In [5]:
# Q5. What will be the output of the following code?
# A = 10
# B = 12
# print("Smaller") if A == B else print("Greater") if A < B else print("True")
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
# Ans. - C. Greater

Greater

In [7]:
# Q6. What will be the output of the following code?
import os
import numpy as np
my_list1 = [2, 7, 3, 5, 4, 6]
print(my_list1)
arr_1=numpy.array(my_list, dtype=int)
print(arr_1)
# Ans. - A. [2 7 3 5 4 6]

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [8]:
# Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
# is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
string = "Machine Learning"
substring = string[slice(8, 13, 1)]
print(substring)
# Ans. D. string[slice(8,13,1)]

Learn

In [9]:
# Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?  

sequence = list(range(10, 26, 4))
index_of_18 = sequence.index(18)
print(f"Sequence: {sequence}")
print(f"Index of value 18: {index_of_18}")
# Ans. - B. 2

Sequence: [10, 14, 18, 22]
Index of value 18: 2

In [10]:
# Q9. Which of the following is true with respect to the below codes?
num1 = 5**4
num2 = pow(5,4)
print(num1, num2)
# Ans. - A. num1 = num2

625 625

In [ ]:
# Q10. A Python NameError exception is raised when?
# Ans. A. Trying to access a variable which has not been defined

In [12]:
# Q11. What type of exception will be raised for the code given below?
# x = "string"
# int(x)
# Ans. ValueError

In [ ]:
# Q12. A FileNotFoundError exception is raised by operating system errors when: -
# a. Trying to create a file or directory which already exists
# b. A file or directory is requested but does not exist in the working directory
# c. Trying to run an operation without the adequate access rights
# d. A directory operation, os.listdir() is requested on something which is not a directory
# Ans. - B. A file or directory is requested but does not exist in the working directory

In [13]:
# Q13. Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
Z = "ID-5632"
print(type(Z))
# Ans. It should be string. None of the given options seems to be appropriate based on the information provided.

<class 'str'>

In [ ]:
# Q14.Which of the following variable(s) are character data type?
# Ans. D. All of the above
# In Python, all the given variables are of the string data type (str). Python does not have a separate character data type.

In [ ]:
# Q15.Choose the symbol/s that does not have the ability to convert any values to string?

# Ans. D. # is used for comments in Python and does not perform any conversion of values to strings.

In [16]:
# Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:
countries_capitals = {
    "India": "Delhi",
    "China": "Beijing",
    "Japan": "Tokyo",
    "Qatar": "Doha",
    "France": "Marseilles"
}

# Print the dictionary
print(countries_capitals)
countries_capitals["France"] = "Paris" # method 1
print(countries_capitals)
countries_capitals.update({"France": "Marseilles"}) # method 2
print(countries_capitals)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}

In [ ]:
# Q17. Create the tuples given below
# tuple_1 = (1,5,6,7,8)
# tuple_2 = (8,9,4)
# Identify which of the following code does not work on a tuple.
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

# Print the tuples
print("tuple_1:", tuple_1)
print("tuple_2:", tuple_2)
# Ans. D. tuple_1[3] = 45 Tuples are immutable

In [ ]:
# Q18. How many elements in the following data structure?
# S = {1, 2, 3, 4, 4, 4, 4, 5, 6}
# Ans. Number of Elements will be 6

In [19]:
#Q19. Write a function which finds all pythagorean triplets of triangles whose sides are no
#     greater than a natural number N.
def find_pythagorean_triplets(N):
    triplets = []
    for a in range(1, N + 1):
        for b in range(a, N + 1):
           for c in range(b, limit+1):
               if a * a + b*b == c*c:
                   triplets.append([a, b, c])
    return triplets

limit = 20
ans = find_pythagorean_triplets(limit)
print(ans)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [8, 15, 17], [9, 12, 15], [12, 16, 20]]